.avtr {
    width: 20dvh;
    height: 20vh;
    margin-top: 7.5vh;
    border: 1px solid white;
    border-radius: 50%;

}

/* Меньше 576px */
@media (max-width: 575.98px) {
    .avtr {

        width: 35dvw;
        height: 35dvw;
        margin-top: 12dvw;
        margin-left: 3.5dvh;
        border: 1px solid white;
    }
}

/* Больше или равно 576px */
@media (min-width: 576px) {
    .avtr {

        width: 32dvw;
        height: 44vh;
        margin-top: 10vh;
        border-radius: 3px;
        margin-left: auto;
        margin-right: auto;
    }
}

/* Больше или равно 768px */
@media (min-width: 768px) {
    .avtr {

        width: 32dvw;
        height: 60vh;
        margin-top: 10vh;
        border: 1px solid white;
        border-radius: 50%;
        margin-left: auto;
        margin-right: auto;
    }
}

/* Больше или равно 992px */
@media (min-width: 992px) {
    .avtr {

        width: 32dvw;
        height: 40vh;
        margin-top: 6vh;
        border: 1px solid white;
        border-radius: 3px;
        margin-left: auto;
        margin-right: auto;
    }
}

/* Больше или равно 1200px */
@media (min-width: 1200px) {
    .avtr {

        width: 25dvh;
        height: 25vh;
        margin-top: 9vh;
        border: 1px solid white;
        border-radius: 50%;
        margin-left: auto;
        margin-right: auto;

    }
}
