.avtr {


    width: 12vw;
    height: 32vh;
    margin-top: 11vh;


    border: 1px solid white;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .avtr {
        width: 30vw;
        height: 35vh;
    }
}
