.nick {
    display: flex;
    justify-content: start;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
    /* border: 3px solid rgb(231, 253, 87); */
    color: rgb(219, 219, 219);
    width: auto;
    height: auto;
}

/* Меньше 576px */
@media (max-width: 575.98px) {
    .nick {

        width: 100dvw;
        min-height: 10dvw;
        margin-top: 4dvh;
        padding-left: 3.5dvh;
        font-size: clamp(1.3rem, 1.5dvw, 1.0rem);
        border: 1px solid white;
    }
}
