.logo {
    /* margin-left: 30px; */
    /* display: flex; */
    /* justify-content: end; */
    /* align-items: center; */
    padding-right: 70px;
    float: right;
    height: 130px;
    font-family: askfm;
    color: rgb(219, 219, 219);
    font-size: 85px;
    margin-top: 80px;
    border: 2px solid white;
}