.logo {
display: flex;
    justify-content: end;
    font-family: askfm;
    color: rgb(219, 219, 219);
    font-size: clamp(1.4rem, 2.3vw, 2.2rem);
    margin-top: 5.5vh;
    padding-right: 1.5vw;
    /* border: 1px solid red; */
}
