.logo {
    display: flex;
    justify-content: end;
    font-family: askfm;
    color: rgb(219, 219, 219);
    font-size: clamp(1.5rem, 2.0vw, 1.5rem);
    margin-top: 0.9vh;
    right: 1.5vw;
    /* border: 1px solid red; */
    position: relative;
}




/* Меньше 576px */
@media (max-width: 575.98px) {
    .logo {

        font-size: clamp(1.3rem, 1.5vw, 1.0rem);
        margin-top: 0.5vh;
        right: 1.5vw;
    }
}

/* Больше или равно 576px */
@media (min-width: 576px) {
    .logo {

        font-size: clamp(1.4rem, 1.7vw, 1.4rem);
        margin-top: 0.5vh;
        right: 1.5vw;

    }
}

/* Больше или равно 768px */
@media (min-width: 768px) {
    .logo {
        font-size: clamp(1.6rem, 1.9vw, 1.8rem);
        margin-top: 0.5vh;
        right: 1.5vw;
    }
}

/* Больше или равно 992px */
@media (min-width: 992px) {
    .logo {
        font-size: clamp(1.8rem, 1.9vw, 1.9rem);
        margin-top: 0.5vh;
        right: 1.5vw;

    }
}

/* Больше или равно 1200px */
@media (min-width: 1200px) {
    .logo {

        font-size: clamp(2rem, 2vw, 5rem);
        margin-top: 1vh;
        right: 1vw;

    }
}
