@font-face {
    font-family: 'askfm';
    src: url('../public/fonts/houschkapro-bolditalic.woff2') format('woff2');
}



@font-face {
    font-family: 'askfm';
    src: url('../public/fonts/houschkapro-bolditalic.woff2') format('woff2');
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
  width: 100dvw;
    height: 100dvh;

 overflow-x: hidden;

 overflow-y: hidden;
    background-color: #313335;
    border: 1px solid red;

}
