@font-face {
    font-family: 'askfm';
    src: url('../public/fonts/houschkapro-bolditalic.woff2') format('woff2');
}

html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
    border: 1px solid red;
    width: 414px;
    overflow-y: auto;
    background-color: #636568;
    padding-top: constant(safe-area-inset-top);
    padding-top: env(safe-area-inset-top);
    padding-left: constant(safe-area-inset-left);
    padding-left: env(safe-area-inset-left);
    padding-right: constant(safe-area-inset-right);
    padding-right: env(safe-area-inset-right);
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
}



.App {
    background-color: #313335;
}
