@font-face {
    font-family: 'askfm';
    src: url('../public/fonts/houschkapro-bolditalic.woff2') format('woff2');
}



html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100vh; /* Или min-height: 100vh; (если нужен запас) */
  background-color: #313335;
}
*, *::before, *::after {
    box-sizing: inherit;
}

body {
 margin: 0;
 padding: 0;
 min-height: 100vh; /* Занимает минимум всю высоту экрана */
}

.App {
  /* Ширина: Занимает всю доступную ширину или ограничиваем max-width: */
  width: 100%;
  max-width: 414px; /* Пример: Максимальная ширина */
  /* Высота: Занимает доступную высоту или auto: */
  height: auto;      /* Высота определяется контентом */
  padding: 10px;   /* Отступы */
  box-sizing: border-box; /* Важно! */

  /* Отступы для безопасных зон (iPhone X и новее): */
  padding-top: env(safe-area-inset-top);
  padding-right: env(safe-area-inset-right);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);

  border: 1px solid white; /* Пример: Граница для визуализации */
  background-color: #fff;   /* Пример: Цвет фона */
}
